<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>Abou Naddara Collection</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/biblio.css"/>
        <script type="text/javascript" src="../shared-resources/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="../tamboti/resources/scripts/galleries.js"/>
        <script type="text/javascript" src="resources/js/naddara.js"/>
    </head>
    <body>
        <div id="page-head">
            <h1/>
            <div class="menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Abou Naddara Collection</a>
                        <ul>
                            <li>
                                <a href="intro_journals.html">Introduction: Journals</a>
                            </li>
                            <li>
                                <a href="journals.html">Journals</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">James Sanua</a>
                        <ul>
                            <li>
                                <a href="biography.html">Biography</a>
                            </li>
                            <li>
                                <a href="theatre.html">Theatre</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="project.html">Project</a>
                    </li>
                    <!--
                    <li>
                        <a href="">Search</a>
                    </li> 
-->
                </ul>
            </div>
        </div>

        <!-- Page content inserted below -->
        <div id="content"/>

        <!-- Image lightbox and thumbnail strip -->
        <div id="lightbox" class="lightbox">
            <div class="view">
                <div class="image">
                    <img id="viewer-image" class="content" src="dummy"/>
                    <a href="" class="next">
                        <img src="resources/images/nextlabel.gif"/>
                    </a>
                    <a href="" class="previous">
                        <img src="resources/images/prevlabel.gif"/>
                    </a>
                </div>
                <h4>Title</h4>
                <a href="" class="close">
                    <img src="resources/images/closelabel.gif"/>
                </a>
            </div>
        </div>
        <div id="filmstrip" class="filmstrip">
            <div class="filmstripPageButtonContainer">
                <span class="filmstripPageButton" id="film-up">˄</span>
            </div>
            <!-- div id="film-up">˄</div -->
            <ul id="filmstrip-items"/>
            <div class="filmstripPageButtonContainer">
                <span class="filmstripPageButton" id="film-down">˅</span>
            </div>
            <!-- div id="film-down">˅</div -->
            <span class="clear"/>
        </div>
    </body>
</html>